In [ ]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/A-akis/A-akis.github.io/main/cost-of-living_v2.csv')

In [ ]:
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Peterborough,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4952,Georgetown,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4953,Ixtapa Zihuatanejo,Mexico,5.16,30.94,12.89,0.98,NaN,1.80,0.62,0.41,...,103.14,412.55,257.84,515.69,412.55,NaN,NaN,NaN,NaN,0
4954,Iqaluit,Canada,29.65,74.27,13.71,6.67,8.89,3.71,3.52,4.08,...,NaN,NaN,NaN,2964.60,2964.60,NaN,NaN,NaN,6.53,0
4955,Neiafu,Tonga,NaN,29.79,10.64,10.64,NaN,NaN,2.13,2.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df=df.dropna()

In [ ]:
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,Gig Harbor,United States,12.00,40.00,10.50,7.00,6.00,5.21,2.48,1.94,...,101.67,1800.00,2000.00,3000.00,2400.00,3821.19,2852.44,4500.00,5.23,0
4826,Lysa nad Labem,Czech Republic,4.33,32.40,5.19,1.25,2.29,2.15,1.24,0.97,...,73.50,605.62,410.96,854.36,583.99,3028.10,1297.76,634.46,7.00,0
4928,Murovani Kurylivtsi,Ukraine,2.72,12.24,2.69,0.68,1.09,0.68,0.24,0.14,...,61.19,108.79,95.19,163.18,122.38,237.97,231.17,365.79,13.05,0
4945,Tirupati,India,2.46,9.21,4.30,2.21,3.07,1.47,0.46,0.14,...,37.25,82.90,61.41,184.23,128.96,661.00,396.60,614.09,7.97,0
4950,Egilsstadhir,Iceland,17.01,70.87,8.50,4.25,3.54,3.90,1.77,1.42,...,146.00,637.85,531.54,1700.92,1417.43,2019.84,1771.79,2480.51,5.00,0

In [ ]:
df=df[df['data_quality'] != 0]

In [ ]:
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,Charlottetown,Canada,18.53,64.85,7.41,4.45,4.82,2.89,1.72,1.58,...,83.38,925.51,789.85,1352.60,1227.53,2393.30,1563.62,1704.64,4.14,1
4205,Haugesund,Norway,15.41,82.20,12.33,8.79,8.73,4.42,3.42,2.93,...,123.28,719.26,565.13,1335.73,1104.54,2527.67,2292.82,3383.13,2.57,1
4322,Lagos,Portugal,8.43,63.22,7.38,2.63,2.63,1.80,1.79,1.44,...,61.12,882.51,716.55,1650.87,1219.15,3517.33,3450.68,923.29,3.33,1
4404,Porto Calvo,Brazil,4.79,25.87,5.75,1.92,2.30,1.74,1.06,0.71,...,46.94,306.55,248.27,557.54,457.43,1264.51,1101.66,395.29,8.17,1
4494,Kalach-na-Donu,Russia,8.32,48.00,6.00,1.28,2.24,2.44,0.99,0.50,...,102.93,473.14,311.11,660.00,480.00,1960.00,1221.33,594.20,10.68,1

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
from geopy.geocoders import ArcGIS

In [ ]:
geolocator = ArcGIS()

def get_coordinates(city):
    try:
        location = geolocator.geocode(city)
        if location:
            return location.latitude, location.longitude
        else:
            return 0, 0
    except Exception as e:
        print("oh, shit!!!!! :", e)
        return 0, 0

In [ ]:
df['Latitude'], df['Longitude'] = zip(*df['city'].map(get_coordinates))

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Cairo&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Tokyo&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=London&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Wuhan&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Paris&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Xi%27an&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Dallas&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Phoenix&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Bandung&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Guayaquil&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=La+Paz&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Dubai&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Tashkent&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Accra&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Tangerang&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Vancouver&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Baku&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Minsk&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Thane&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Indianapolis&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Puebla&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Virginia+Beach&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Abu+Dhabi&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Milan&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Samara&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Birmingham&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Monterrey&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Tbilisi&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Nashville&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Jerusalem&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Colombo&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Rabat&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Victoria&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Nassau&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Male&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Port+Moresby&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Georgetown&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Ankara&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Natal&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Oklahoma+City&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Marrakech&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Ad+Dammam&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Omaha&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Honolulu&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Queretaro&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Valencia&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Fresno&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Hamilton&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Sevilla&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Springfield&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Khabarovsk&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Pereira&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Ensenada&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Lyon&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Johor+Bahru&f=json&maxLocations=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='geocode.arcgis.com', port=443): Read timed out. (read timeout=1)")': /arcgis/rest/services/World/GeocodeServer/findAddressCandidates?singleLine=Greenville&f=json&maxLocations=1

In [ ]:
df=df[df['Latitude'] != 0]

In [ ]:
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x49,x50,x51,x52,x53,x54,x55,data_quality,Latitude,Longitude
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1,37.566000,126.978400
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1,31.222220,121.458060
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1,23.116670,113.250000
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1,18.969047,72.821181
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1,28.632425,77.218791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,Charlottetown,Canada,18.53,64.85,7.41,4.45,4.82,2.89,1.72,1.58,...,789.85,1352.60,1227.53,2393.30,1563.62,1704.64,4.14,1,46.247847,-63.120210
4205,Haugesund,Norway,15.41,82.20,12.33,8.79,8.73,4.42,3.42,2.93,...,565.13,1335.73,1104.54,2527.67,2292.82,3383.13,2.57,1,59.453877,5.178890
4322,Lagos,Portugal,8.43,63.22,7.38,2.63,2.63,1.80,1.79,1.44,...,716.55,1650.87,1219.15,3517.33,3450.68,923.29,3.33,1,6.454070,3.394670
4404,Porto Calvo,Brazil,4.79,25.87,5.75,1.92,2.30,1.74,1.06,0.71,...,248.27,557.54,457.43,1264.51,1101.66,395.29,8.17,1,-9.051320,-35.399756
4494,Kalach-na-Donu,Russia,8.32,48.00,6.00,1.28,2.24,2.44,0.99,0.50,...,311.11,660.00,480.00,1960.00,1221.33,594.20,10.68,1,48.679040,43.547670

In [ ]:
country_counts = df['country'].value_counts()
country_counts

country
United States     82
United Kingdom    42
India             31
Canada            29
Italy             29
                  ..
Mozambique         1
Uruguay            1
Mongolia           1
Uganda             1
Costa Rica         1
Name: count, Length: 139, dtype: int64

In [ ]:
df.to_csv('df.csv', index=False)

In [ ]:
pip install pycountry-convert

Collecting pycountry-convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pprintpp>=0.3.0 (from pycountry-convert)
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Collecting pycountry>=16.11.27.1 (from pycountry-convert)
  Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 46.9 MB/s eta 0:00:00
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from pycountry-convert) (7.4.4)
Collecting pytest-mock>=1.6.3 (from pycountry-convert)
  Downloading pytest_mock-3.14.0-py3-none-any.whl (9.9 kB)
Collecting pytest-cov>=2.5.1 (from pycountry-convert)
  Downloading pytest_cov-5.0.0-py3-none-any.whl (21 kB)
Collecting repoze.lru>=0.7 (from pycountry-convert)
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.10/dist-packages (from pycountry-convert) (0.43.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (24.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.2.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
Collecting coverage[toml]>=5.2.1 (from pytest-cov>=2.5.1->pycountry-convert)
  Downloading coverage-7.5.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (231 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 231.6/231.6 kB 22.9 MB/s eta 0:00:00
Installing collected packages: repoze.lru, pprintpp, pycountry, coverage, pytest-mock, pytest-cov, pycountry-convert
Successfully installed coverage-7.5.3 pprintpp-0.4.0 pycountry-24.6.1 pycountry-convert-0.7.2 pytest-cov-5.0.0 pytest-mock-3.14.0 repoze.lru-0.7

In [ ]:
import pycountry_convert as pc
def country_to_continent(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except Exception as e:
        return None

df['continent'] = df['country'].apply(country_to_continent)

                city      country     x1     x2     x3    x4    x5    x6  \
0              Seoul  South Korea   7.68  53.78   6.15  3.07  4.99  3.93
1           Shanghai        China   5.69  39.86   5.69  1.14  4.27  3.98
2          Guangzhou        China   4.13  28.47   4.98  0.85  1.71  3.54
3             Mumbai        India   3.68  18.42   3.68  2.46  4.30  2.48
4              Delhi        India   4.91  22.11   4.30  1.84  3.68  1.77
...              ...          ...    ...    ...    ...   ...   ...   ...
4111   Charlottetown       Canada  18.53  64.85   7.41  4.45  4.82  2.89
4205       Haugesund       Norway  15.41  82.20  12.33  8.79  8.73  4.42
4322           Lagos     Portugal   8.43  63.22   7.38  2.63  2.63  1.80
4404     Porto Calvo       Brazil   4.79  25.87   5.75  1.92  2.30  1.74
4494  Kalach-na-Donu       Russia   8.32  48.00   6.00  1.28  2.24  2.44

        x7    x8  ...      x50      x51       x52       x53      x54    x55  \
0     1.48  0.79  ...  2669.12  1731.08  22067.70  10971.90  2689.62   3.47
1     0.53  0.33  ...  2952.70  1561.59  17746.11   9416.35  1419.87   5.03
2     0.44  0.33  ...  1242.24   688.05  12892.82   5427.45  1211.68   5.19
3     0.48  0.19  ...  1411.12   699.80   6092.45   2777.51   640.81   7.96
4     0.49  0.19  ...   601.02   329.15   2506.73   1036.74   586.46   8.06
...    ...   ...  ...      ...      ...       ...       ...      ...    ...
4111  1.72  1.58  ...  1352.60  1227.53   2393.30   1563.62  1704.64   4.14
4205  3.42  2.93  ...  1335.73  1104.54   2527.67   2292.82  3383.13   2.57
4322  1.79  1.44  ...  1650.87  1219.15   3517.33   3450.68   923.29   3.33
4404  1.06  0.71  ...   557.54   457.43   1264.51   1101.66   395.29   8.17
4494  0.99  0.50  ...   660.00   480.00   1960.00   1221.33   594.20  10.68

      data_quality   Latitude   Longitude      continent
0                1  37.566000  126.978400           Asia
1                1  31.222220  121.458060           Asia
2                1  23.116670  113.250000           Asia
3                1  18.969047   72.821181           Asia
4                1  28.632425   77.218791           Asia
...            ...        ...         ...            ...
4111             1  46.247847  -63.120210  North America
4205             1  59.453877    5.178890         Europe
4322             1   6.454070    3.394670         Europe
4404             1  -9.051320  -35.399756  South America
4494             1  48.679040   43.547670         Europe

[744 rows x 61 columns]

In [ ]:
df

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x50,x51,x52,x53,x54,x55,data_quality,Latitude,Longitude,continent
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1,37.566000,126.978400,Asia
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1,31.222220,121.458060,Asia
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1,23.116670,113.250000,Asia
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,1411.12,699.80,6092.45,2777.51,640.81,7.96,1,18.969047,72.821181,Asia
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,601.02,329.15,2506.73,1036.74,586.46,8.06,1,28.632425,77.218791,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,Charlottetown,Canada,18.53,64.85,7.41,4.45,4.82,2.89,1.72,1.58,...,1352.60,1227.53,2393.30,1563.62,1704.64,4.14,1,46.247847,-63.120210,North America
4205,Haugesund,Norway,15.41,82.20,12.33,8.79,8.73,4.42,3.42,2.93,...,1335.73,1104.54,2527.67,2292.82,3383.13,2.57,1,59.453877,5.178890,Europe
4322,Lagos,Portugal,8.43,63.22,7.38,2.63,2.63,1.80,1.79,1.44,...,1650.87,1219.15,3517.33,3450.68,923.29,3.33,1,6.454070,3.394670,Europe
4404,Porto Calvo,Brazil,4.79,25.87,5.75,1.92,2.30,1.74,1.06,0.71,...,557.54,457.43,1264.51,1101.66,395.29,8.17,1,-9.051320,-35.399756,South America
4494,Kalach-na-Donu,Russia,8.32,48.00,6.00,1.28,2.24,2.44,0.99,0.50,...,660.00,480.00,1960.00,1221.33,594.20,10.68,1,48.679040,43.547670,Europe

In [ ]:
country_counts = df['country'].value_counts()

# Filter out countries that appear only once
df_filtered = df[df['country'].isin(country_counts[country_counts > 3].index)]

In [ ]:
df_filtered

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x50,x51,x52,x53,x54,x55,data_quality,Latitude,Longitude,continent
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1,31.222220,121.458060,Asia
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1,23.116670,113.250000,Asia
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,1411.12,699.80,6092.45,2777.51,640.81,7.96,1,18.969047,72.821181,Asia
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,601.02,329.15,2506.73,1036.74,586.46,8.06,1,28.632425,77.218791,Asia
6,Osaka,Japan,7.45,48.39,5.36,3.35,3.72,3.28,1.09,0.81,...,1737.21,993.17,8043.38,4825.58,2322.46,1.49,1,34.693726,135.502162,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4111,Charlottetown,Canada,18.53,64.85,7.41,4.45,4.82,2.89,1.72,1.58,...,1352.60,1227.53,2393.30,1563.62,1704.64,4.14,1,46.247847,-63.120210,North America
4205,Haugesund,Norway,15.41,82.20,12.33,8.79,8.73,4.42,3.42,2.93,...,1335.73,1104.54,2527.67,2292.82,3383.13,2.57,1,59.453877,5.178890,Europe
4322,Lagos,Portugal,8.43,63.22,7.38,2.63,2.63,1.80,1.79,1.44,...,1650.87,1219.15,3517.33,3450.68,923.29,3.33,1,6.454070,3.394670,Europe
4404,Porto Calvo,Brazil,4.79,25.87,5.75,1.92,2.30,1.74,1.06,0.71,...,557.54,457.43,1264.51,1101.66,395.29,8.17,1,-9.051320,-35.399756,South America
4494,Kalach-na-Donu,Russia,8.32,48.00,6.00,1.28,2.24,2.44,0.99,0.50,...,660.00,480.00,1960.00,1221.33,594.20,10.68,1,48.679040,43.547670,Europe

In [ ]:
country_counts=df_filtered['country']
country_counts.count()

622

In [ ]:
df_filtered = df_filtered.drop(columns=['data_quality'])

In [ ]:
df_filtered = df_filtered.rename(columns={'Latitude': 'latitude'})
df_filtered = df_filtered.rename(columns={'Longitude': 'longitude'})

In [ ]:
df_filtered.to_csv('df.csv', index=False)

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/A-akis/A-akis.github.io/main/df-continents.csv')

In [ ]:
data=df

In [ ]:
# Convert data to DataFrame
df = pd.DataFrame(data)

# Calculate counts
continent_counts = df.groupby("continent").agg(country=("country", "nunique"), city=("city", "nunique")).reset_index()

# Create a list to store hierarchical data
tree_data = []

# Populate tree_data based on counts
for index, row in continent_counts.iterrows():
    continent = row["continent"]
    country_count = row["country"]
    city_count = row["city"]

    # Append country count
    tree_data.append({"continent": continent, "category": 0, "value": country_count})

    # Append city count
    tree_data.append({"continent": continent, "category": 1, "value": city_count})

# Create DataFrame from list
tree_data_df = pd.DataFrame(tree_data)

print(tree_data_df)

        continent  category  value
0          Africa         0      3
1          Africa         1     17
2            Asia         0     14
3            Asia         1    126
4          Europe         0     27
5          Europe         1    311
6   North America         0      3
7   North America         1    128
8         Oceania         0      2
9         Oceania         1     16
10  South America         0      2
11  South America         1     24

In [ ]:
tree_data_df.to_csv('radial-map.csv', index=False)